.App {
  text-align: center;
}

.weatherContainer {
  background-image: url(/public/bigWeatherPup.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 950px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: start;
}

.overlayBox {
  background-color: rgba(0, 0, 0, 0.5);
}

.currentDay {
  font-size: 2rem;
}
.currentTemp {
  font-size: 3.5rem;
  font-weight: 500;
}
.currentCity {
  font-size: 1.5rem;
  font-weight: 700;
}
.icon {
  width: 80px;
}

.currentHumidity,
.currentWeatherDesc {
  font-size: 1.3rem;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
