.App {
  text-align: center;
}

.weatherContainer {
  background-image: url(/public/bigWeatherPup.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.9;
  max-width: 950px;
  max-height: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: start;
}

/* .overlayBox {
  background-color: rgba(0, 0, 0, 0.5);
} */

.currentDay {
  font-size: 2rem;
}
.currentTemp {
  font-size: 3.5rem;
  font-weight: 500;
}
.currentCity {
  font-size: 1.5rem;
  font-weight: 700;
}
.icon {
  width: 80px;
}

.currentHumidity,
.currentWeatherDesc {
  font-size: 1.3rem;
}

.units {
  cursor: pointer;
  font-size: 2rem;
}

.forecastImg {
  width: 50px;
}

.boldFont {
  font-weight: 600;
}

@media (max-width: 950px) {
  .weatherContainer {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .weatherContainer {
    background-image: url(/public/squareCuteGermanShepherd.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
